@page "/friends"
@layout Layout.MyLayout

<h1>My Friends!</h1>

<img src="friends.jpeg" class="img-thumbnail" alt="friends image">

<ol>
    <li>Max</li>
    <li>Garrison</li>
    <li>Van</li>
    <li>Christian</li>
    <li>Mr Harbert</li>
</ol>