@page "/todo"
@rendermode InteractiveServer
<h1>Shopping List</h1>

<h3>Items Left: (@shoppingList.Count(t => !t.bought))</h3>

<ul>
    @foreach (var item in shoppingList)
    {
        <li>
            <input type="checkbox" @bind="item.bought">
            <input @bind="item.product">
        </li>
    }
</ul>

<input @bind="newItem">

<button @onclick="AddTodo">Add item</button>
@code 
{

    List<ShoppingList> shoppingList = new List<ShoppingList>();

    string newItem = "";
    public class ShoppingList
    {
        public string product { get; set; }
        public bool bought { get; set; }
    }
    private void AddTodo(MouseEventArgs args)
    {
        if (!string.IsNullOrWhiteSpace(newItem))
        {
            shoppingList.Add(new ShoppingList { product = newItem});
            newItem = "";
        }
    }
}
